.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 1000; /* Make sure it's above other elements */
}

.bounce {
  width: 50px;
  height: 50px;
  background-color: #ffffff; /* White bounce */
  border-radius: 50%;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-75px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-75px);
  }
}
